* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c29595;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container {
  height: 400px;
  width: 400px;
  text-align: center;
  margin-top: 5rem;
}

.box {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(22, 22, 22, 0.425);
  background-color: rgb(216, 194, 194);
  font-size: 40px;
 color: #ce3c3c;
}
.game {
  display: flex;
  height: 350px;
  width: 350px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 3rem;
  margin-left: 1.5rem;
}
#reset,
#new {
  margin-top: 3rem;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ce3c3c;
  color: azure;
}

.msg{
  margin-top: 3rem;
  font-size: 40px;
  color: orange;
  letter-spacing: 4px;
}
.hide{
display: none;

}